<h2 mat-dialog-title>New Playlist</h2>
<img *ngIf="loading" src="../../../../../assets/images/loader.gif" />
<div *ngIf="!loading" class="detail-container">
  <div class="detail-thumbnail">
    <img [src]="imgSrc" />
    <div class="background-theme-container">
      <div class="background-theme-container-inner">
        <input
          hidden
          #fileInput
          type="file"
          accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
          (change)="setFile($event)"
        />
        <button
          mat-icon-button
          class="edit-image-button"
          (click)="fileInput.click()"
        >
          <mat-icon class="edit-image-icon">create</mat-icon>
        </button>
        <span>Choose Photo</span>
      </div>
    </div>
  </div>
  <div class="detail-desc">
    <mat-form-field appearance="outline" class="detail-title">
      <mat-label>Title</mat-label>
      <input matInput type="text" [(ngModel)]="playlist.playlistName" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sort Description</mat-label>
      <textarea
        [(ngModel)]="playlist.sortDescription"
        matInput
        placeholder="Ex. It makes me feel..."
      ></textarea>
    </mat-form-field>
    <mat-slide-toggle (change)="setValue($event)">Public</mat-slide-toggle>
    <div class="save-detail">
      <button (click)="save()" class="save-button">Save</button>
    </div>
  </div>
</div>
