<div class="outer-container">
    <h1>For you</h1>
    <div class="inner-container" >
        <app-medi-song [imgSrc]="'https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/e/2/f/3/e2f3da512dcd104613f3b4151ce67438.jpg'"></app-medi-song>
        <app-medi-song [imgSrc]="'https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/9/6/d/2/96d2c40a983b85ae4e0d577e34796de5.jpg'"></app-medi-song>
        <app-medi-song [imgSrc]="'https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/c/3/9/6/c396fd459fbf115fe7f8aee741e0b1de.jpg'"></app-medi-song>
        <app-medi-song [imgSrc]="'https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/e/4/f/0/e4f0c26e1c2bfdacacd5ba3d8042d706.jpg'"></app-medi-song>
        <app-medi-song [imgSrc]="'https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/8/4/c/4/84c436b697c9ac4ad9900de45af388a6.jpg'"></app-medi-song>
        <app-medi-song [imgSrc]="'https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/c/5/c/8/c5c846fbd38e40dd971b0f7d36470a23.jpg'"></app-medi-song>
    </div>
 </div>
