.outer-container {
    height: 100%;

    h1 {
        margin-left: 10px;
        margin-bottom: 10px !important;
        font-weight: 500;
        line-height: 24px;
    }
    
    .inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        gap: 20px 20px;
    }
    
}