@import "../../../../assets/theme/variable";
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: $primary;
  color: white;
  img {
    margin: 0 16px;
  }
  span {
    margin-left: 16px;
    font-family: "Patrick Hand", cursive;
    font-size: 28px;
  }
  .login-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: $primary;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 1rem;
  }
  
  .login-btn:hover {
    background-color: #36ad95;
    //filter: brightness(60%);
    transition: color 0.15s ease-in;
  }
  
}

