<mat-toolbar class="toolbar">
  <div class="spacer"></div>
  <div *ngIf="hasLoggedIn">
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toAdminPage()">
        <mat-icon>supervisor_account</mat-icon>
        <span>Admin Page</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
  <div *ngIf="!hasLoggedIn">
    <button class="login-btn" (click)="openLoginForm()">LOG IN</button>
  </div>
</mat-toolbar>
