<mat-toolbar class="toolbar" color="primary">
  <img
    (click)="BackToHome()"
    width="40px"
    height="40px"
    src="../../../../assets/images/shazam.png"
    alt="MusicRecognizer"
  />
  <span (click)="BackToHome()">Replica Shazam</span>
  <div class="spacer"></div>
  <div *ngIf="hasLoggedIn">
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="toAdminPage()">
        <mat-icon>supervisor_account</mat-icon>
        <span>Admin Page</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
  <div *ngIf="!hasLoggedIn">
    <button class="login-btn" (click)="openLoginForm()">LOG IN</button>
  </div>
</mat-toolbar>
