
  <div class="outer-container">
    <h1>Recommend genres</h1>
    <div class="inner-container" >
        <mat-chip-list aria-label="Fish selection">
            <mat-chip>Genre 1</mat-chip>
            <mat-chip>Genre 2</mat-chip>
            <mat-chip>Genre 3</mat-chip>
            <mat-chip selected>Genre 4 selected</mat-chip>
            <mat-chip>Genre 5</mat-chip>
            <mat-chip>Genre 6</mat-chip>
            <mat-chip>Genre 7 with long name</mat-chip>
            <mat-chip>Genre 8</mat-chip>
            <mat-chip>Genre 9 medium</mat-chip>
            <mat-chip>Genre 10</mat-chip>
            <mat-chip>Genre 11</mat-chip>
            <mat-chip>Genre 12</mat-chip>
        </mat-chip-list>
        <div class="songs-container">
            <app-rounded-song [imgSrc] = "'https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/8/0/6/7/80677a86fdcee35d96f0047c7addcc7c.jpg'"></app-rounded-song>
            <app-rounded-song [imgSrc] = "'https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/2/4/8/6/2486d1faa0e8cfcca01c39b5814113f2.jpg'"></app-rounded-song>
            <app-rounded-song [imgSrc] = "'https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/8/3/2/3/832349ea644eabd742df5d62a913781a.jpg'"></app-rounded-song>
            <app-rounded-song [imgSrc] = "'https://photo-resize-zmp3.zadn.vn/w240_r1x1_jpeg/cover/1/1/8/0/1180ce679c0402b1f800530881d73e2e.jpg'"></app-rounded-song>
        </div>
    </div>
 </div>