<div class="navigation">
    <div class="drawer--head">
        <img  width="32px" height="32px" src="../../../../assets/images/shazam.png"
            alt="MusicRecognizer" />
        <span>
            Muzik
        </span>
    </div>
    <ul>
        <li class="list active">
            <a [routerLink]="['home']">
                <span class="icon">
                    <mat-icon fontSet="material-icons-outlined">home</mat-icon>
                </span>
                <span class="title">Home</span>
            </a>
        </li>
        <li class="list">
            <a (click) = "openSearchDialog()">
                <span class="icon">
                    <mat-icon fontSet="material-icons-outlined">search</mat-icon>
                </span>
                <span class="title">Search</span>
            </a>
        </li>
        <li class="list">
            <a [routerLink]="['player']">
                <span class="icon">
                    <mat-icon fontSet="material-icons-outlined">music_video</mat-icon>
                </span>
                <span class="title">Player</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon">
                    <mat-icon fontSet="material-icons-outlined">playlist_play</mat-icon>
                </span>
                <span class="title">Playlist</span>
            </a>
        </li>
        <hr/>
        <li class="list">
            <a href="#">
                <span class="icon">
                    <mat-icon fontSet="material-icons-outlined">account_box</mat-icon>
                </span>
                <span class="title">Profile</span>
            </a>
        </li>
    </ul>
</div>