$primary: #49654d;
$secondary: #8ba989;
$white: #ffffff;
$light: #c0cfb2;
$dark: #364f3c;

@import url("https://fonts.googleapis.com/css?family=Questrial");
$font: "Questrial", sans-serif;

.player {
  background: $white;
  position: relative;
  display: block;
  margin: auto;
  width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba($dark, 0.4);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  img {
    width: 300px;
    height: 300px;
  }
  .info {
    width: 100%;
    bottom: 0;
    background: rgba($white, 0.85);
    .currently-playing {
      text-align: center;
      margin-top: -3px;
      .song-name,
      .artist-name {
        font-family: $font;
        text-transform: uppercase;
        margin: 0;
      }
      .song-name {
        font-size: 16px;
        font-weight: bolder;
        letter-spacing: 3px;
        color: $dark;
      }

      .artist-name {
        font-size: 12px;
        letter-spacing: 1.5px;
        font-weight: bold;
        color: lighten($dark, 15%);
      }
    }
    .controls {
      display: flex;
      align-items: center;
      font-size: 0.8em;
      justify-content: center;
      color: $secondary;
      audio {
        &::-webkit-media-controls-panel {
          background: $white;
        }
      }
    }
  }
}
