.recorder {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;

  .visualize-container {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    align-items: center;
  }
  .recorder__container {
    width: 90%;
  }
  .controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 10%;
  }

  .wave {
    margin: auto;
    min-height: 300px;
  }
  #record {
    height: 15vh;
  }
  .recording {
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      #ff0000 0%,
      white 75%,
      white 100%,
      #7db9e8 100%
    );
  }
  .save {
    opacity: 0.25;
  }
  .image_import {
    height: 10vh;
  }
  .visualization-container {
    overflow: hidden;
    min-height: 450px;
    width: 90%;
    margin: auto;
  }

  svg {
    display: block;
    width: 100%;
    height: 80%;
    padding: 0;
    margin: 0;
  }

  path {
    stroke-linecap: square;
    stroke: white;
    stroke-width: 0.5px;
  }

  @media only screen and (max-width: 500px) {
    button {
      font-size: 18px;
    }
  }
  @media only screen and (orientation: portrait) {
    .visualize-container {
      width: 100%;
      height: 80%;
    }
    .controls {
      flex-direction: row;
      height: 20%;
      width: 100%;
    }
  }
}
@media only screen and (orientation: portrait) {
  .recorder {
    flex-direction: column;
  }
}
