<div class="recorder">
      <div class="d-flex h-100">
        <div #ngVisualizationContainer class="flex-grow-1 visualization-container">
            <app-visualizaion  *ngIf="loadVisualization" [containerWidth]="containerWidth" [containerHeight]="containerHeight"></app-visualizaion>
        </div>
    </div>
    <div class="record-button">
        <button id="button" class="green-button" (click)="initiateRecording()" *ngIf="!recording"><span class="fa fa-play"></span> Start Listen</button>
        <button id="button" class="red-button" (click)="stopRecording()"  *ngIf="recording"><span class="fa fa-play"></span> Stop Listen</button>
    </div>
    
    <audio controls="" *ngIf="url">
        <source [src]="sanitize(url)" type="audio/wav">
    </audio>
</div>