.title {
    margin-bottom: 32px;
    line-height: 40px;
    font-size: 32px;
    font-weight: 500;
    font-family: Rubik, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
        BlinkMacSystemFont, Helvetica Neue;
}
.container {
    display: none;
    margin-left: 32px;
    margin-right: 32px;
    .example-container {
        height: 400px;
        overflow: auto;
    }

    table {
        width: 100%;
    }
}
