<div class="title">
    Songs Manager
</div>
<ng-container *ngIf="{
        songs: songs$|async
    } as obs">
    <div class="container">
        <div class="filter--container">
            <input (keyup)="doFilter($event)" placeholder="Filter...." />
            <button mat-flat-button color="primary" (click)="openAdd()">
                <mat-icon>add</mat-icon>
                Add New Song
            </button>
        </div>
        <div class="table-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
                <!-- ID Column -->
                <ng-container matColumnDef="songId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        ID
                    </th>
                    <td mat-cell *matCellDef="let song"> {{song.songId}} </td>
                </ng-container>

                <!-- Thumbnail Column -->
                <ng-container matColumnDef="thumbnail">
                    <th mat-header-cell *matHeaderCellDef>
                        Thumbnail
                    </th>
                    <td mat-cell *matCellDef="let song"><img [src]="song.thumbnail" /></td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="songName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Title
                    </th>
                    <td mat-cell *matCellDef="let song">{{song.songName}}</td>
                </ng-container>

                <!-- Artist Column -->
                <ng-container matColumnDef="artistsName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Artist
                    </th>
                    <td mat-cell *matCellDef="let song"> {{song.artistsName}} </td>
                </ng-container>

                <!-- Likes Column -->
                <ng-container matColumnDef="likes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Likes
                    </th>
                    <td mat-cell *matCellDef="let song"> {{song.likes}} </td>
                </ng-container>

                <!-- Downloads Column -->
                <ng-container matColumnDef="downloads">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Downloads
                    </th>
                    <td mat-cell *matCellDef="let song"> {{song.downloads}} </td>
                </ng-container>

                <!-- Listens Column -->
                <ng-container matColumnDef="listens">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Listens
                    </th>
                    <td mat-cell *matCellDef="let song"> {{song.listens}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                    </th>
                    <td mat-cell *matCellDef="let song">
                        <button mat-icon-button onclick="this.blur()" color="primary" (click)="openDetail(song)">
                            <mat-icon>description</mat-icon>
                        </button>
                        <button mat-icon-button onclick="this.blur()" color="primary" (click)="openUpdate(song)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button onclick="this.blur()" color="warn" (click)="openDelete(song)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button [color]="song.isRecognizable ? 'primary' : 'accent'">
                            <mat-icon>fingerprint</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons aria-label="Select page of songs">
        </mat-paginator>
    </div>
</ng-container>