@import "../../../../assets/theme/_variable";
.title {
    margin-bottom: 16px;
    line-height: 40px;
    font-size: 32px;
    font-weight: 500;
    font-family: Rubik, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
        BlinkMacSystemFont, Helvetica Neue;
}
.container {
    margin-left: 32px;
    margin-right: 32px;
    text-align: center;
    .filter--container {
        margin-bottom: 10px;
        input {
            padding: 10px 45px; 
            background: url("https://img.icons8.com/ios-glyphs/50/000000/search--v2.png") no-repeat left; 
            background-position: 10px 10px;
            background-size: 20px;
            max-width: 80%;
            min-width: 500px;
            font-size: 16px;
            border: 1px solid $primary;
            &:focus{
                outline: none;
            }
        }
        button {
            margin-top: 10px;
            margin-left: 24px;
            mat-icon {
                margin-right: 10px;
            }
        }
    }
    .table-container {
        height: 70vh;
        overflow-x: auto;
        &::-webkit-scrollbar-track {
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
            width: 6px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $primary;
            border-radius: 10px;
        }
    }
    table {
        width: 100%;
        font-size: medium;
        font-weight: 500;
        margin-bottom: 10px;
        th {
            font-size: medium;
        }
        tr {
            max-height: 64px;
            .mat-header-cell {
                background-color: $primary;
                color: white;
                ::ng-deep .mat-sort-header-arrow {
                    color: white;
                }
            }
        }
        .mat-column-id {
            flex: none;
            width: 10%;
            text-align: left;
        }
        .mat-column-thumbnail {
            flex: none;
            text-align: left;
            width: 10%;
            min-width: 84px;
            img {
                float: left;
                margin: 10px 24px 10px 0px;
                width: 64px;
                height: 64px;
                border-radius: 5px;
            }
        }
        .mat-column-title {
            flex: none;
            text-align: left;
        }
        .mat-column-artist {
            flex: none;
            width: 25%;
            text-align: left;
        }
        .mat-column-actions {
            flex: none;
            width: 20%;
            text-align: right;
        }
    }
    mat-paginator {
        margin-top: 16px;
    }
}
