<div class="head" mat-dialog-title>
    Queue
</div>
<div id="queue" class="container">
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
    <app-mini-song></app-mini-song>
</div>