$bg-color: #222F43;
$card-bg-color: #1c2036;

$typo-dark: #3D3D3D;
$typo-gray: #3D3D3D;
$typo-normal: #777777;


$primary: #1c2036;
$dark-primary: #141B26;
$sub-primary: #4186f6;


$accent: #4186f6;
$warn: #e64121;
$success: #50b849;

