<div class="outer-container">
    <div class="track-info">
        <div class="index">
            {{index}}
        </div>
        <div class="track-text">
            <div class="track-title">Song title</div>
            <div class="track-artist">
                <span>
                </span>
                <span class="linkable">
                    Artist name
                </span>
            </div>
        </div>
        <button mat-icon-button class="option">
            <mat-icon>more_vert</mat-icon>
        </button>
        <div class="time">
            4:30
        </div>
    </div>
</div>
