<div class="app-trending">
  <ng-container *ngIf="artists$ | async as artists">
    <div class="app-trending__artists">
      <ng-container *ngFor="let artist of artists; let i = index">
        <app-top-artist [index]="i + 1" [artist]="artist"></app-top-artist>
      </ng-container>
    </div>
  </ng-container>
  <mat-divider [vertical]="true"></mat-divider>
  <ng-container *ngIf="songs$ | async as songs">
    <div class="app-trending__songs">
      <img [src]="selectedSong?.thumbnailL" />
      <div class="app-trending__songs__right">
        <ng-container *ngFor="let song of songs; let i = index">
          <app-top-song
            (click)="selectedSong = song"
            [isSelected]="selectedSong === song"
            [index]="i + 1"
            [song]="song"
          ></app-top-song>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
