<div class="playlist-desc-container">
  <div class="playlist-desc-container-inner">
    <ng-container *ngIf="playlist$ | async as playlist">
      <div class="playlist-thumbnail">
        <img [src]="playlist.thumbnail" />
      </div>
      <div class="playlist-info">
        <h3 class="playlist-title">Playlist</h3>
        <h2 class="playlist-name">{{playlist.playlistName}}</h2>
        <p class="playlist-user">{{playlist.sortDescription}}</p>
      </div>
    </ng-container>
  </div>
</div>
<div class="playlist-utils-container">
  <div class="playlist-utils-container-inner">
    <button mat-mini-fab class="playlist-play-btn">
      <mat-icon class="playlist-play-icon">play_arrow</mat-icon>
    </button>
    <button mat-icon-button class="playlist-more-btn">
      <mat-icon class="playlist-more-icon">more_horiz</mat-icon>
    </button>
  </div>
</div>
<div class="playlist-songs-container">
  <div class="songs-head">
    <div class="songs-order">#</div>
    <div class="songs-title">Title</div>
    <div class="songs-duration">
      <button mat-icon-button>
        <mat-icon class="playlist-more-icon">av_timer</mat-icon>
      </button>
    </div>
  </div>
  <ng-container *ngIf="songs$ | async as songs">
    <ng-container *ngFor="let song of songs; let i = index">
      <app-playlist-song
        (click)="selectedSong = song; selectRecommendSong = undefined"
        [isSelected]="selectedSong === song"
        [index]="i + 1"
        [song]="song"
      ></app-playlist-song>
    </ng-container>
  </ng-container>
  <div class="playlist-recommend-container">
    <div class="recommend-head">
      <h2 class="recommend-title">Recommended</h2>
      <div class="recommend-desc">Based on what's in this playlist</div>
    </div>
  </div>
  <ng-container *ngIf="recommendSongs$ | async as recommendSongs">
    <ng-container *ngFor="let song of recommendSongs; let i = index">
      <app-playlist-recommend-song
        (click)="selectRecommendSong = song; selectedSong = undefined"
        [isSelected]="selectRecommendSong === song"
        [index]="i + 1"
        [song]="song"
      ></app-playlist-recommend-song>
    </ng-container>
  </ng-container>
  <div class="refresh-recommend">
    <h2>Refresh</h2>
  </div>
</div>
