main {
  padding: 0px 16px;
  text-align: center;
  margin-bottom: 88px;
  .content {
    margin-left: 72px;
  }
}

@at-root .header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  transition: all ease-out 0.5s;
}

