@import "../../../../assets/scss/theme/variable";
.news--container {
  grid-column-start: 3;

  @media only screen and (max-width: 1279px) and (min-width: 744px) {
    grid-column-start: 2;
  }

  @media only screen and (max-width: 743px) {
    grid-column-start: 1;
  }
}
.item {
  margin-bottom: 24px;
  text-align: left;
  background-color: $card-bg-color;
  mat-card-header {
    color: white;
    mat-card-subtitle {
      color: white;
      font-size: 16px;
      line-height: 24px;
    }
    mat-card-title {
      color: white;
      font-size: 20px;
      line-height: 24px;
    }
  }
  button {
    font-size: 20px;
    line-height: 24px;
    color: white;
  }
}
