<header class="header">
  <app-header></app-header>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
<!-- <footer class="footer grid">
  <div class="footer__background"></div>
  <div class="footer__content grid__content">
    <div class="footer__content__sologan">
      <div class="footer__content__sologan__logo">
        <img
          src="../../assets/image/header/collab-ai-logo.svg"
          alt="colla.ai logo"
        />
        <span class="footer__content__sologan__logo__name">COLLA.ai</span>
      </div>
      <p class="footer__content__sologan__des">
        Sharing knowledge to achieve excellent asset care and asset performance.
      </p>
    </div>
    <div class="footer__content__contactus">
      <h2 class="footer__content__contactus__title">CONTACT US</h2>
      <div class="footer__content__contactus__phone">
        <mat-icon>phone</mat-icon>
        <span>(+84) 785 214 215</span>
      </div>
      <div class="footer__content__contactus__email">
        <mat-icon>mail</mat-icon>
        <span>new@portal.com</span>
      </div>
    </div>
    <div class="footer__content__social">
      <h2 class="footer__content__social__title">SOCIAL</h2>
      <div class="footer__content__social__items">
        <a href=""
          ><img
            src="./../../assets/image/footer/linkedin-logo.svg"
            alt="Linkedin"
        /></a>
        <a href=""
          ><img src="./../../assets/image/footer/facebook.svg" alt="Facebook"
        /></a>
        <a href=""
          ><img
            src="./../../assets/image/footer/youtube-logo.svg"
            alt="Youtube"
        /></a>
        <a href=""
          ><img
            src="./../../assets/image/footer/insta-circle-logo.svg"
            alt="Instagram"
        /></a>
      </div>
    </div>
  </div>
</footer> -->
