$bg-color: #F5F5FB;

$typo-dark: #3D3D3D;
$typo-gray: #3D3D3D;
$typo-normal: #777777;


$primary: #30375f;
$dark-primary: #1c2036;
$sub-primary: #4186f6;

$accent: #fa7334;
$warn: #e64121;
$success: #50b849;

