<div class="medi-song" [style.background-image]="image">
  <div #name class="medi-song__name">
    <div #title class="medi-song__name__title">{{ song.songName }}</div>
    <div class="medi-song__name__content">{{ song.artistsName }}</div>
  </div>
  <div class="medi-song-options">
    <button mat-icon-button class="option" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="play()">Play</button>
      <button mat-menu-item (click)="addToQueue()">Add to queue</button>
      <button mat-menu-item (click)="addToQueue()">Add to playlist</button>
    </mat-menu>
  </div>
</div>
