<div class="flex-none pt4 pt5-ns pb4 footer-container">
  <div class="footer">
    <div class="footer-section mgb4">
      <a href="" class="footer-column-header">Audio Recognizer</a>
      <ul class="column">
        <li class="list">
          <a href="" class="footer-text-link"> How It Works </a>
        </li>
        <li class="list">
          <a href="" class="footer-text-link"> FAQ</a>
        </li>
        <li class="list">
          <a href="" class="footer-text-link"> Audio Recorder</a>
        </li>

        <li class="list">
          <a href="" class="footer-text-link"> Audio Cutter & Trimmer</a>
        </li>
        <li class="list">
          <a href="" class="footer-text-link"> Audio Recognizer</a>
        </li>
      </ul>
    </div>
    <!--Resource Section-->
    <div class="footer-section mgb4">
      <a href="" class="footer-column-header">Resource</a>
      <ul class="column">
        <li class="list">
          <a href="" class="footer-text-link"> Blog</a>
        </li>
        <li class="list">
          <a href="" class="footer-text-link"> Resources</a>
        </li>
      </ul>
    </div>
    <!--About Section-->
    <div class="footer-section mgb4">
      <a href="" class="footer-column-header">About </a>
      <ul class="column">
        <li class="list">
          <a href="" class="footer-text-link"> About</a>
        </li>
      </ul>
    </div>
    <!--Contact Section-->
    <div class="footer-section mgb4 pdl0">
      <a href="" class="footer-column-header">Contact</a>
      <ul class="column">
        <div class="list">
          <a href="" class="footer-text-link">18520075@gm.uit.edu.vn</a>
        </div>
        <div class="list">
          <a href="" class="footer-text-link">18521528@gm.uit.edu.vn</a>
        </div>
        <div class="list">
          <a href="" class="footer-icon fa fa-facebook" aria-hidden="true"></a>
          <a href="" class="footer-icon fa fa-github" aria-hidden="true"></a>
          <a href="" class="footer-icon fa fa-instagram" aria-hidden="true"></a>
        </div>
      </ul>
    </div>
    <div class="footer-section mgb4 w30 pdl2">
      <a href="" class="footer-column-header">Join our newsletter</a>
      <div class="column">
        <input type="email" placeholder="Your email" id="footer-email" />
        <input type="submit" value="Sign Up" id="footer-email-btn" />
      </div>
    </div>
    <div class="foot w-100">
      <span class="mgr3">@ Muzik</span>
      <div class="">
        <a href="" class="mh2 footer-text-link">Terms</a>
        |
        <a href="" class="mh2 footer-text-link">Privacy</a>
      </div>
    </div>
  </div>
</div>
