<div class="how-to-use mgt2">
  <div class="header">How to use it!</div>
  <div class="dark-gray content">
    <div class="column w-33-l w-100">
      <div class="title">
        <h3 class="column-title">01.</h3>
        <i class="fa fa-microphone icon mgb10 red-color"></i>
      </div>
      <div class="column-text">Click the "Record" button to record audio.</div>
    </div>
    <div class="column w-33-l w-100">
      <div class="title">
        <h3 class="column-title">02.</h3>
        <i class="icon fa fa-music mgb14 purple-color"></i>
      </div>
      <div class="column-text">
        Speak into your device's microphone and make sure the animation shows
        that audio is being recorded.
      </div>
    </div>
    <div class="column w-33-l w-100">
      <div class="title">
        <h3 class="column-title">03.</h3>
        <i class="icon mgb10 fa fa-pause"></i>
      </div>
      <div class="column-text">
        Click "Pause" whenever you wish to stop the audio.
      </div>
    </div>
    <div class="column w-33-l w-100">
      <div class="title">
        <h3 class="column-title">04.</h3>
        <i class="icon mgb10 fa fa-check green-color"></i>
      </div>

      <div class="column-text">
        Click "Preview" to play back your audio with a waveform.
      </div>
    </div>
    <div class="column w-33-l w-100">
      <div class="title">
        <h3 class="column-title">05.</h3>
        <i class="icon mgb10 fa fa-spinner blue-color"></i>
      </div>
      <div class="column-text">
        Click "Recognize" to transcribe your recording to text.
      </div>
    </div>
    <div class="column w-33-l w-100">
      <div class="title">
        <h3 class="column-title">06.</h3>
        <i class="icon mgb10 fa fa-arrow-down green-color"></i>
      </div>
      <div class="column-text">Enjoy & Download Music!</div>
    </div>
  </div>
</div>
