<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1 class="title">Create Account</h1>
      <div class="social-container">
        <a href="#" class="social fa fa-google-plus"></a>
        <a href="#" class="social fa fa-facebook-f"></a>
        <a href="#" class="social fa fa-github"></a>
      </div>
      <span class="subtitle">or use your email for registration</span>
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button>Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1 class="title">Sign in</h1>
      <div class="social-container">
        <a href="#" class="social fa fa-google-plus"></a>
        <a href="#" class="social fa fa-facebook-f"></a>
        <a href="#" class="social fa fa-github"></a>
      </div>
      <span class="subtitle">or use your account</span>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="#" class="subtitle">Forgot your password?</a>
      <button>Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1 class="title">Welcome Back!</h1>
        <p class="subtitle">
          To keep connected with us please login with your personal info
        </p>
        <button class="ghost" id="signIn" (click)="signInClick()">
          Sign In
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <img
          src="../../../../assets/images/shazam.png"
          alt=""
          class="app-icon"
        />
        <h1 class="title mgt2">Replica Shazam</h1>
        <p class="subtitle">
          Enter your personal details and start journey with us
        </p>
        <button class="ghost" id="signUp" (click)="signUpClick()">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
