h1 {
    margin-left: 10px;
    margin-bottom: 10px !important;
    font-weight: 500;
    line-height: 24px;
}

.search {
    @at-root #{&}__title {
        display: flex;
        justify-content: space-between;

        mat-icon {
            color: white;
        }
        &__box {
            width: 100%;
            max-height: 40px;
            margin-right: 24px;
            color: white;

            input {
                margin-left: 16px;
            }
        }
    }

    @at-root #{&}__content {
        color: white;
        @at-root #{&}__container {
            &:not(&:first-child) {
                margin-top: 36px;
            }

            @at-root #{&}__header {
                display: flex;
                justify-content: space-between;

                button {
                    color: #0094B6;
                }
            }

            @at-root #{&}__for-you {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: space-around;
                justify-content: space-around;
                align-items: flex-start;
                app-rounded-song {
                    margin: 10px;
                }
            }
        }
    }
}