.playlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
  cursor: pointer;
  transition: all linear 0.1s;

  &-inner {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    .add-icon {
      height: 50px;
      width: 50px;
      font-size: 50px;
    }
    i {
      display: inline-block;
    }
    h3 {
      font-size: 24px;
      font-weight: 500;
    }
  }

  &:hover {
    .playlist-container-inner {
      opacity: 1;
    }
  }
}
