<div class="outer-container">
    <div class="function">
        <button mat-flat-button>
            Karaoke
        </button>
        <button mat-flat-button class="selected">
            Lyric
        </button>
    </div>
    <div class="inner-container">
        <div class="thumbnail">
            <img width="100%" src="https://photo-resize-zmp3.zadn.vn/w640_r1x1_jpeg/cover/1/1/8/0/1180ce679c0402b1f800530881d73e2e.jpg"/>
            <div class="track-text">
                <div class="title">
                    Song title
                </div>
                <div class="artist">
                    Artist name
                </div>
            </div>
        </div>
        <div class="lyric">
            {{lyric}}
        </div>
    </div>
</div>