<div class="outer-container">
  <div class="function">
    <button mat-flat-button>Karaoke</button>
    <button mat-flat-button class="selected">Lyric</button>
  </div>
  <div class="content-wrapper">
    <div class="content-wrapper-inner">
      <div class="thumbnail-wrapper">
        <div class="thumbnail-wrapper-inner">
          <img width="100%" [src]="song.thumbnail" />
        </div>
      </div>
      <div class="lyric-wrapper">
        <ul class="lyric-wrapper-inner">
          <li
            *ngFor="let lyr of lyric; let i = index"
            class="item"
            [attr.data-index]="i"
            [ngClass]="{ current: i === currentLyric }"
          >
            {{ lyr.lyricSentence }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
