<div class="outer-container">
    <div class="track-info">
        <div class="album-artwork">
            <img width="100%" [src]="song.thumbnailS">
        </div>
        <div class="track-text">
            <div class="track-title">{{song.songName}}</div>
            <div class="track-artist">
                <span>
                </span>
                <span class="linkable">
                    {{song.artistsName}}
                </span>
            </div>
        </div>
        <button (click)="play()" mat-icon-button class="option">
            <mat-icon>play_circle_outlined</mat-icon>
        </button>
        <div class="time">
            {{duration ?? '00:00'}}
        </div>
    </div>
</div>
