@import "../../../../assets/scss/theme/_variable";
.outer-container {
  height: 56px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 12px;
  border-bottom: 1px solid #404040;
  transition: transform 0.5s, filter 1.5s ease-in-out;
  .track-info {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    width: 50%;
    text-align: left;

    .album-artwork {
      height: 48px;
      min-width: 48px;
      width: 48px;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
      border-radius: 5%;
      margin-right: 10px;
      background-size: cover;
    }

    .track-text {
      width: 100%;
      cursor: default;
      overflow: hidden;
      line-height: normal;

      .track-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .track-artist {
        color: #b3b3b3;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .track-control {
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
    &-queue {
      display: none;
      &:hover {
        color: $sub-primary;
      }
    }
    &-recommend {
      &:hover {
        color: $sub-primary;
      }
    }
  }

  &:hover {
    transform: scale(1.05);
    .track-control-queue {
      display: block;
    }
  }
}
