/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import '~ngx-toastr/toastr';
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --player-text: #32323d;
  --p-color: #009879;
}
.transparent-dialog > mat-dialog-container {
  background: transparent;
  box-shadow: none !important;
}
