/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import '~ngx-toastr/toastr';
@import "./assets/scss/theme/_variable";
@import "./assets/scss/layout/grid.scss";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $bg-color;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  /* width of vertical scrollbar */
  height: 4px;
  /* height of horizontal scrollbar â† You're missing this */
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0.5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.transparent-dialog>mat-dialog-container {
  background: transparent;
  box-shadow: none !important;
}

.queue--container {
  .mat-dialog-container {
      padding: 0px;
      border-radius: 0px;
      background: #141414;
      overflow: hidden;
  }
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
  }
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}

.hoverable {
  &--rotate {
    transition: all 0.3s ease-in-out;
    will-change: transform;
    &:hover {
      transform: rotate(-22.5deg) scale(1.025);
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  }
  &--zoom {
    transition: all 0.3s ease-in-out;
    will-change: transform;
    &:hover {
      transform: scale(1.25);
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  }

}

