<img *ngIf="loading" src="../../../../../assets/images/loader.gif" />
<div *ngIf="!loading" class="container">
    <!-- Title -->
    <img [src]="imgSrc" />
    <button mat-flat-button color="primary" (click)="fileInput.click()">
        <mat-icon>cloud_upload</mat-icon>
        Upload Thumbnail
    </button>
    <input hidden #fileInput type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
        (change)="setFile($event, 'Thumbnail')" />

    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="song.songName">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Artist</mat-label>
        <mat-select #select [formControl]="formControl"  placeholder="Artist" multiple>
            <mat-option>
                <ngx-mat-select-search 
                [formControl]="formFilterControl"
                placeholderLabel="Find artist..."
                noEntriesFoundLabel="'No matching artist found'">
            </ngx-mat-select-search>
              </mat-option>
            <mat-option *ngFor="let artist of filteredArtists | async" [value]="artist">{{artist.artistName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- Audio -->
    <div class="upload">
        <button mat-flat-button color="primary" (click)="audioInput.click()">
            <mat-icon>cloud_upload</mat-icon>
            Upload Audio
        </button>
        <span>
            {{audio.name}}
        </span>
    </div>
    <input hidden #audioInput type="file" accept=".mp3"
        (change)="setFile($event, 'Audio')" />
    <!-- Beat -->
    <div class="upload">
        <button mat-flat-button color="primary" (click)="beatInput.click()">
            <mat-icon>cloud_upload</mat-icon>
            Upload Beat
        </button>
        <span>
            {{beat.name}}
        </span>
    </div>
    <input hidden #beatInput type="file" accept=".m4a"
            (change)="setFile($event, 'Beat')" />
    <!-- Lyric -->
    <div class="upload">
        <button mat-flat-button color="primary" (click)="lyricInput.click()">
            <mat-icon>cloud_upload</mat-icon>
            Upload Lyric .lrc
        </button>
        <span>
            {{lyric.name}}
        </span>
    </div>
    <input hidden #lyricInput type="file" accept=".lrc"
            (change)="setFile($event, 'Lyric')" />
    <!-- Karaoke -->
    <div class="upload">
        <button mat-flat-button color="primary" (click)="karaokeInput.click()">
            <mat-icon>cloud_upload</mat-icon>
            Upload Lyric .txt
        </button>
        <span>
            {{karaoke.name}}
        </span>
    </div>
    <input hidden #karaokeInput type="file" accept=".txt"
            (change)="setFile($event, 'Karaoke')" />
    <div class="controls">
        <button mat-flat-button (click)="cancel()">
            Cancel
        </button>
        <button *ngIf="audio.name && song.songName" mat-flat-button color="primary" (click)="save()">
            Save
        </button>
    </div>
</div>