.info {
    margin: auto 72px;
    color: white;
    cursor: default;
    overflow: hidden;
    z-index: 3;
    line-height: 48px;
    text-align: left;

    .title {
        font-size: 32px;
        font-weight: 500;
    }

    .artist {
        font-size: 24px;
        font-weight: 400;
    }

    .function {
        button {
            margin-top: 16px;
            border: 1px solid #0094B6;
            color: #0094B6;
            margin-right: 24px;
    
            mat-icon {
                margin-left: 10px;
            }
        }

    }
}