<ng-container *ngIf="songs$ | async as songs">
   <app-carousel [interval]="3000">
      <app-carousel-slide *ngFor="let song of songs; let i = index" #matCarouselSlide [image]="song.thumbnailL">
         <div class="info">
            <div class="title">{{song.songName}}</div>
            <div class="artist">{{song.artistsName}}</div>
            <div class="function">
               <button mat-flat-button>
                  Play
                  <mat-icon>play_arrow</mat-icon>
               </button>
            </div>
         </div>
      </app-carousel-slide>
   </app-carousel>
</ng-container>