.container {
    text-align: left;
    .title {
        margin: 10px;
    }
}

.carousel {
    display: block;
    background-color: lightgray;
    position: relative;
    overflow: hidden;
    text-align: center;
    word-spacing: 12px;
    border-radius: 10px;
    width: 100%;
    padding-top: calc(calc(100vh - 88px - 160px)/2 - 20px);
    .carousel-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: left 0.9s;
        left: -100%;
        z-index: 1;
    }
    
    .carousel-indicator {
        position: relative;
        bottom: 24px;
        z-index: 2;
    
        &:checked {
            ~.carousel-image {
                left: 100%;
            }
    
            +.carousel-image {
                left: 0;
            }
        }
    }
}

