<div class="outer-container">
   <h1>New</h1>
   <div class="inner-container" >
      <mat-carousel timings="250ms ease-in" [autoplay]="true" [interval]="3000" [proportion]="50" [loop]="true"
      [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="true" orientation="ltr" color="primary">
      <mat-carousel-slide *ngFor="let slide of slides; let i = index" #matCarouselSlide
         [image] = "slide.image"
         [hideOverlay]="true">
         <div class="info">
            <div class="title">Red Snapper: Performance Review</div>
            <div class="artist">Allan Biker</div>
            <div class="function">
               <button mat-flat-button>
                  Play
                  <mat-icon>play_arrow</mat-icon>
               </button>
            </div>
        </div>
      </mat-carousel-slide>
   </mat-carousel>
   </div>
</div>