<div class="outer-container">
  <div class="track-info" [class.selected]="isSelected">
    <div class="track-text">
      <div class="track-thumbnail">
        <img [src]="song.thumbnail" />
      </div>
      <div class="track-desc">
        <div class="track-title">{{ song.songName }}</div>
        <div class="track-artist">
          <span> </span>
          <span class="linkable"> {{ song.artistsName }} </span>
        </div>
      </div>
    </div>

    <div class="item">
      <button mat-icon-button onclick="this.blur()" (click)="download()">
        <mat-icon fontSet="material-icons-outlined">file_download</mat-icon>
      </button>
      <span>{{ song.downloads }}</span>
    </div>
    <div class="item">
      <button mat-icon-button onclick="this.blur()">
        <mat-icon fontSet="material-icons-outlined">headphones</mat-icon>
      </button>
      <span>{{ song.listens }}</span>
    </div>
    <!-- <div class="item">
      <button mat-icon-button onclick="this.blur()">
        <mat-icon fontSet="material-icons-outlined">thumb_up</mat-icon>
      </button>
      <span>{{ song.likes }}</span>
    </div> -->
    <div class="recommend-add">
      <button class="add-button" (click)="addSongToPlaylist()">Add</button>
    </div>
  </div>
</div>
