.outer-container {
  height: fit-content;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  transition: transform 0.5s, filter 1s ease-in-out;
  padding: 0px 16px;
  margin: 5px 0px;

  .track-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    width: calc(100% - 32px);
    height: 60px;
    text-align: left;
    border-radius: 5px;

    &.selected,
    &:hover {
      box-shadow: 0 0 5px -3px #000;
      background-color: #c2daff;
      color: #000;

      .track-artist {
        color: #2e2d2d;
      }
    }

    .track-text {
      width: 50%;
      cursor: default;
      overflow: hidden;
      display: flex;

      .track-thumbnail {
        width: 40px;
        margin-top: 4px;
        img {
          height: auto;
          width: 100%;
        }
      }
      .track-desc {
        margin-left: 15px;
        .track-title {
          font-size: 22px;
          line-height: 25px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .track-artist {
          margin-top: 4px;
          font-size: 19.5px;
          line-height: 23px;
          color: #b3b3b3;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0px 16px;
      width: 64px;
      min-width: 64px;
      max-width: 64px;
      span {
        line-height: 40px;
        margin-top: 3px;
      }
    }

    .option {
      margin: 10px;
    }

    .recommend-add {
      margin-right: 30px;
      .add-button {
        background-color: transparent;
        border-radius: 500px;
        border: 1px solid;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

::ng-deep .mat-menu-panel {
  background-color: #4186f6;
  .mat-menu-content:not(:empty) {
    padding: 0px !important;
    button.mat-menu-item {
      color: white;
      line-height: 36px;
      height: 36px;
    }
  }
}
